{% extends "index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}" />
{% endblock %}


{% block fos_user_content %}
    <div id="loginbox">
        <!-- Google Login -->
        <a id="googleLogin" href="{{ path('google_connect') }}">
            <div class="myGoogle">
                <img id="gImg" src="{{ asset('images/googleSmall.png') }}" width="32px" height="32px" alt="login with google">
                <div id="gText">Mit Google anmelden</div>
            </div>
        </a>

        <!-- Facbook Login -->
        <a id="facebookLogin" href="{{ path('facebook_connect') }}"> <! onclick="FB.login()">
            <div class="myfacebook">
                <img id="fbImg" src="{{ asset('images/fbSmall.png') }}" width="32px" height="32px" alt="login with facebook">
                <div id="fbText">Mit Facebook anmelden</div>
            </div>
        </a>
        <!div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"><!/div>

        <div id="error">

        </div>
        <div class="local">
            {{ include('@FOSUser/Security/login_content.html.twig') }}
            <div id="register">
                Noch keinen Account? <a href="/register">Hier anmelden</a>!
            </div>
        </div>

    </div>
{% endblock fos_user_content %}
