{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.navName) }}
    {{ form_row(form.link) }}
    {{ form_row(form.shortDesc) }}
    {{ form_row(form.sortID) }}
    {{ form_row(form.content) }}
    {{ form_row(form.previousLesson) }}
    {{ form_row(form.overwritePreviousNext) }}
    {% for flash_message in app.session.flashBag.get('previousError') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ form_row(form.nextLesson) }}
    {{ form_row(form.overwriteNextPrevious) }}
    {% for flash_message in app.session.flashBag.get('nextError') %}
        <div class="flash-error">
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ form_row(form.file) }}
    <button type="submit" class="btn btn-primary">Speichern</button>
{{ form_end(form) }}
