{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.navName) }}
    {{ form_row(form.link) }}
    {{ form_row(form.shortDesc) }}
    {{ form_row(form.sortID) }}
    {{ form_row(form.content) }}
    {{ form_row(form.previousLesson) }}
    {{ form_row(form.nextLesson) }}
    <!--button type="button" id="addLatex">LateX Code einfügen</button-->
    {{ form_row(form.file) }}
    <button type="submit" class="btn btn-primary">Speichern</button>
{{ form_end(form) }}

<script src="{{ asset('TypeScript/newLesson.js') }}"></script>