{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/lesson.css') }}">
{% endblock %}

{% block body %}

    {% if lesson.link is not null %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ lesson.link }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    <h2 id="contentHeader">
        {{ lesson.name }}
    </h2>
    <div id="content">
        {{ lesson.content }}
    </div>

    <a href="{{ asset(lesson.file) }}" target="_blank">Anhang</a>

    <div class="preNext">
        {% if previousID is not null %}
            <a id="previous" href="/lesson/{{ previousID }}">
                <div class="subPrevious">
                    <img id="spImg" src="{{ asset('images/arrowLeft.png') }}" width="32px" height="32px" alt="previous lesson">
                    <div id="spText">  {{ previousName }}  </div>
                </div>
            </a>
        {% endif %}
        <div class="adminEdit">
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('edit_lesson', {'id': lesson.id }) }}">Bearbeiten</a>
            {% endif %}
        </div>
        {% if nextID is not null %}
            <a id="next" href="/lesson/{{ nextID }}">
                <div class="subNext">
                    <div id="snText">{{ nextName }}</div>
                    <img id="snImg" src="{{ asset('images/arrowRight.png') }}" width="32px" height="32px" alt="previous lesson">
                </div>
            </a>
        {% endif %}
    </div>

{% endblock %}